@model SpartanRooms10_31_19.Models.DisplayRoomsViewModel;

@{
    ViewData["Title"] = "Index";
}

@{
    int roomFullTracker = 0;
    int headerID = 0;
    Model.alreadyCompletedRender = new List<string>();

    string[] tdRender = new string[24];
    Dictionary<int, SpartanRoomsData.Models.BookingContainer> BookingIDandContainer = new Dictionary<int, SpartanRoomsData.Models.BookingContainer>();
    Dictionary<int, string[]> tdRenderBookingID = new Dictionary<int, string[]>();
    int dictionaryCounter = 0;
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>

        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.BookingContainer.DateTime)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.BookingContainer.Room.RoomName)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.BookingContainer.isFull)
                </th>*@
            <th></th>
            <th></th>
            @foreach (var item in Model.timeArray)
            {
                <th id="@headerID">
                    @item.ToString("hh:mm tt")
                </th>
                headerID++;
            }


        </tr>
    </thead>
    <tbody>

        @foreach (var count in Model.countOfRooms)
        {
            tdRenderBookingID.Clear();

            @for (int i = 0; i < tdRender.Length; i++)
            {
                tdRender[i] = "null";
            }

            int countTracker = 0;
            @for (int i = 0; i < Model.BookingContainerList.Count; i++)
            {
                if (Model.BookingContainerList[i].RoomID == count.Key)
                {
                    int hourTracker = 0;

                    foreach (var hour in Model.timeArray)
                    {
                        if (hour.Hour == Model.BookingContainerList[i].DateTime.Hour)
                        {
                            tdRender[hourTracker] = "FREE";
                            BookingIDandContainer.Add(Model.BookingContainerList[i].ID, Model.BookingContainerList[i]);
                        }
                        hourTracker++;
                    }
                    tdRenderBookingID.Add(Model.BookingContainerList[i].ID, tdRender);
                }

            }

        <tr>

            @*<td>@Html.DisplayFor(m => Model.BookingContainerList[index].DateTime)</td>*@
            @{var room = Model.BookingContainerList.Where(i => i.RoomID == count.Key);
                var roomName = Model.Rooms.First(r => r.ID == count.Key);
                //var booking = room.Where(r=>)
            }
            <td>@Html.DisplayFor(m => roomName.RoomName)</td>
            <td>
                <a asp-action="Edit" asp-route-id="">Edit</a> |
                <a asp-action="Details" asp-route-id="">Details</a> |
                <a asp-action="Delete" asp-route-id="">Delete</a>

                @*@if (!room.isFull)
            {
                <a asp-action="CreateReservation" asp-route-id="">Create New Reservation</a>
            }*@
            </td>

            @*<td>@Html.DisplayFor(m => Model.BookingContainerList[index].isFull)</td>*@
            <td></td>

            @*@for (int i = 0; i < tdRender.Length; i++)
        {
            tdRender[i].ToLower();
            if (tdRender[i].Contains("null".ToLower()))
            {
                tdRender[i] = "NOT AVAILABLE";
            }
        }*@
            @{ int sCount = 0;
                int tdRenderKeysCount = 0;
            }
            @foreach (var s in tdRender)
            {
                bool isFull = false;
                if (sCount < tdRenderBookingID.Keys.Count)
                {
                    var container = Model.BookingContainerList.First(f => f.ID == tdRenderBookingID.Keys.ElementAt(sCount));
                    var tdID = container.ID;
                    var tdRenderKeys = tdRenderBookingID.Keys;
                    var tdRenderValues = tdRenderBookingID.Values;

                    var asdasf = Model.BookingContainerList.First(f => f.ID == tdRenderKeys.ElementAt(sCount));

                    isFull = container.isFull;

                    if (s.Contains("FREE") && isFull)
                    {
                        <td id="@tdID" class="bg-danger" style="font-size:200%">
                            &#10060

                        </td>
                        sCount++;

                    }
                    else if (s.Contains("FREE") && !isFull)
                    {
                        <td id="@tdID"class="bg-success" style="font-size:200%">
                            <a asp-action="CreateReservation" asp-route-id="@tdID">Reserve!</a>

                        </td>
                        sCount++;
                    }
                    else
                    {
                        <td id="@tdID" class="bg-secondary" style="font-size:200%">

                            &#9676
                        </td>
                        //sCount++;

                    }
                }
                else
                {
                    <td class="bg-secondary" style="font-size:200%">

                        &#9676
                    </td>
                    //sCount++;

                }

            }
            @{ tdRenderKeysCount++;
            }
        </tr>


            //dictionaryCounter++;
        }


        @*@foreach (var count in Model.countOfRooms)
            {
                <tr>

                    @{int index = 0;
                    }
                    <td>@Html.DisplayFor(m => Model.BookingContainerList[index].DateTime)</td>
                    <td>@Html.DisplayFor(m => Model.BookingContainerList[index].Room.RoomName)</td>

                    <td>@Html.DisplayFor(m => Model.BookingContainerList[index].isFull)</td>
                    <td></td>
                    <td></td>

                    @for (int i = 0; i < tdRender.Length; i++)
                    {
                        tdRender[i].ToLower();
                        if (tdRender[i].Contains("null".ToLower()))
                        {
                            tdRender[i] = "NOT AVAILABLE";
                        }
                    }
                    @foreach (var s in tdRender)
                    {
                        <td>
                            @s

                        </td>
                    }
                    @{index++;
                    }
                </tr>
            }*@

    </tbody>
</table>


















@*@model SpartanRooms10_31_19.Models.DisplayRoomsViewModel;

    @{
        ViewData["Title"] = "Index";
    }

    @{
        int headerID = 0;
        int tdCheck = 0;
        string thisIsHere = "This Is HERE";
        int trTracker = 0;
        Model.alreadyCompletedRender = new List<string>();
    }
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BookingContainer.DateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingContainer.Room.RoomName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingContainer.isFull)
                </th>
                <th></th>
                <th></th>
                @foreach (var item in Model.timeArray)
                {
                    <th id="@headerID">
                        @item.ToString("hh:mm tt")
                    </th>
                    headerID++;
                }



            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BookingContainerList)
            {



                @if (!Model.alreadyRenderedRooms.Contains(item.Room.RoomName))
                {
                    string add = item.Room.RoomName;
                    Model.alreadyRenderedRooms[trTracker] = add;
                    trTracker++;



                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Room.RoomName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isFull)
                        </td>




                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>

                            @if (!item.isFull)
                            {
                                <a asp-action="CreateReservation" asp-route-id="@item.ID">Create New Reservation</a>
                            }
                        </td>

                        <td></td>



                        @foreach (var hour in Model.timeArray)
                        {
                            string? tempString = "init";
                            string divString="init";
                            string imageCode = "init";
                            <td>

                                    @foreach (var x in Model.BookingContainerList)
                                    {
                                        if (Model.alreadyRenderedRooms.Contains(x.Room.RoomName) && !Model.alreadyCompletedRender.Contains(x.Room.RoomName))
                                        {

                                            @if (x.DateTime.Hour == hour.Hour)
                                            {
                                                if (!x.isFull)
                                                {
                                                    divString = "id="+@x.ID+" class=bg-success style=font-size:500%>";
                                                    imageCode = "&#10003";
                                                }
                                                if(x.isFull)
                                                {
                                                    divString = "id="+@x.ID+" class=bg-danger style=fill:green;font-size:500%>";
                                                    imageCode = "&#10060";

                                                }
                                            }
                                            else
                                            {
                                                divString = "id="+@x.ID+" class=bg-secondary style=fill:green;font-size:500%>";
                                                    imageCode = "&#9676";

                                            }
                                            var asd = x.Room.RoomName;

                                        }
                                        tempString = x.Room.RoomName;

                                    }

                                    @{Model.alreadyCompletedRender.Add(tempString);
                                        //tempString ="";
                                    }
                                <div @divString>@imageCode @tempString</div>
                                @{ divString = ""; imageCode = "";}
                            </td>
                        }






                    </tr>
                }
            }
        </tbody>
    </table>
*@