@model SpartanRooms10_31_19.Models.DisplayRoomsViewModel;

@{
    ViewData["Title"] = "Index";
}

@{ 
    int headerID = 0;
    int tdCheck = 0;
    string thisIsHere = "This Is HERE";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingContainer.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingContainer.Room.RoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingContainer.isFull)
            </th>
            @foreach (var item in Model.timeArray)
            {
                <th id="@headerID">
                    @item.ToString("hh:mm tt")
                </th>
                headerID++;
            }

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookingContainerList) {



        
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isFull)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>

                @if (!item.isFull)
                {
                    <a asp-action="CreateReservation" asp-route-id="@item.ID">Create New Reservation</a>
                }
            </td>



            @foreach (var hour in Model.timeArray)
            {
                <td>

                    @if (item.DateTime.Hour == hour.Hour)
                    {
                        if (!item.isFull)
                        {
                            @:<div id=@item.ID class="bg-success" style="fill:green; font-size:500%">&#10003</div>
                        }
                        else
                        {
                            @:<div id=@item.ID class="bg-danger" style="fill:green; font-size:500%">&#10060</div>








                        }
                    }
                    else
                    {
                        @:<div id=@item.ID class="bg-secondary" style="fill:green; font-size:500%">&#9676</div>




                    }



                </td>
            }






        </tr>
}
    </tbody>
</table>
